<!DOCTYPE html>
<html>
<head>
  <title>Submitted Data</title>
</head>
<body>
  <h2>Submitted Data</h2>
  <table border="1" cellpadding="10">
    <tr><td>Username</td><td><%= data.username %></td></tr>
    <tr><td>Email</td><td><%= data.email %></td></tr>
    <tr><td>Gender</td><td><%= data.gender %></td></tr>
    <tr><td>Hobbies</td><td><%= data.hobbies.join(", ") %></td></tr>
    <tr>
      <td>Profile Picture</td>
      <td><img src="/uploads/<%= data.profilePic %>" width="100"></td>
    </tr>
    <tr>
      <td>Other Pictures</td>
      <td>
        <% data.otherPics.forEach(pic => { %>
          <img src="/uploads/<%= pic %>" width="100">
        <% }) %>
      </td>
    </tr>
  </table>

  <p>
    <a href="<%= filePath %>">Download JSON File</a>
  </p>
</body>
</html>
